<div class="modal fade" id="registere_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span>Registrarse</span>
            </div>
            <form role="form" action="register" method="post" enctype="multipart/form-data" id="register-form" novalidate="novalidate">

                {% csrf_token %}
                <div class="modal-body">
                    {%for field in new_independiente_json %}
                    <div class="form-group">
                        {{field.labeltag}}
                        {{field}}
                    </div>
                    {% endfor %}

                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit" id="id_grabar">
                        Grabar
                    </button>
                </div>



            </form>
        </div>
    </div>
</div>