<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
     <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <title>Login</title>
    <script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        }

        function iniciaSesion(form) {

            var $form = $(form);
            var serializedData = JSON.stringify($form.serializeObject());

            request = $.ajax({
                url: "/polls/loginjs",
                type: "post",
                data: serializedData,
                success: function (data) {
                    console.log("ox");
                    console.log(data);
                    window.location.href = '/';
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                    alert('Error en nombre de usuario o contraseña')
                }
            });

            return false;
        }
    </script>
</head>
  <body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li class="pull-right">
                        <a href="/polls">Home</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<div class="container" align="center">

<div class="col-md-12" align="center">
    <h1 class="page-header" align="center">Login</h1>
</div>

    {% if mensaje %}
        <div class="alert alert-danger">
           {{ mensaje }}
        </div>
    {% endif %}

<form method="post" class="col-md-12" onsubmit="return iniciaSesion(this);" >
    <div class="form-group">
        <input type="text" required="required" id="username" name="username" class="form-control input-lg" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" required="required" id="password" name="password" class="form-control input-lg" placeholder="Password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" align="center">Ingresar</button>
        <span class="pull-right"><a href="/polls/independiente/new">Registrarse</a></span>
    </div>
</form>
    </div> <!-- /container -->
  </body>
</html>